body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #181818;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.container {
    margin: 20px;
}

.category {
    margin-bottom: 20px;
}

.category h2 {
    text-align: left;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

/* Ajuste para organizar os artistas e faixas */
.artist {
    cursor: pointer;
    margin-bottom: 10px;
}

/* Ajustando tamanho da fonte para os artistas */
.artist-title {
    font-size: 40px; /* Aumentado para melhor visibilidade */
    font-weight: bold;
    padding: 12px;
    background: #202020;
    border-radius: 5px;
}

.track-list {
    max-height: 300px;  /* Defina a altura máxima da lista */
    overflow-y: auto;   /* Permite a rolagem vertical */
    padding-right: 10px; /* Para não esconder a barra de rolagem */
}


.music-list {
    margin-top: 20px;
    flex-grow: 1;
    overflow-y: scroll; /* Garantir o scroll vertical */
    padding-bottom: 100px;
    max-height: 400px; /* Garantir uma altura fixa para rolar */
}


/* Estilização das faixas de áudio */
.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #181818;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
}

/* Playlist fixa na parte inferior */
.playlist {
    padding: 20px;
    background: #121212;
    border-top: 2px solid #1db954;
    position: fixed;
    bottom: 60px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
}

#playlist {
    max-height: 160px;
    overflow-y: auto;
    padding-right: 5px;
}

#playlist h2 {
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
}

/* Botão de adicionar à playlist */
.add-to-playlist {
    cursor: pointer;
    color: #1db954;
    border: none;
    background: none;
    padding: 5px 10px;
}

.add-to-playlist:hover {
    color: #fff;
}

/* Rodapé com player de áudio */
footer {
    background-color: #181818;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}

audio {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #121212;
    padding: 10px;
    border-top: 2px solid #1db954;
}
